@use 'preview';
@use 'sections';
@import 'reusable';

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&family=Roboto:wght@300&display=swap");


body{
    background-color: $bg-col;
    // font-family: "Poppins", sans-serif;
    font-family: 'Roboto', sans-serif; 
}

.app{
    width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
}

header{
    padding: 1rem;
    background-color: $header-col;
    @include flex-item(column);
    gap: 1rem;
    color: $con-col;
    border-bottom: 3px solid black;
    h1{
        text-transform: uppercase;
        font-size: 40px;
    }
}

footer{
    padding: 1rem;
    background-color: $header-col;
    @include flex-item(column);
    gap: 1rem;
    color: $con-col;
    border-top: 3px solid black;
    a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.64);
    }
}

